main {
  padding: 20px;
}

.botoes-topo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 15px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  align-items: flex-start;
}
.voltar {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 10px 15px;
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}
.btn-enviar {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.filtro-pesquisa {
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: #f7f9fa;
  padding: 5px;
  border-radius: 8px;
}

.filtro-pesquisa input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 10px;
}

.dropdown {
  position: relative;
}

.filtro-btn {
  background-color: #c7f0e3;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-conteudo {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #daf6ff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.dropdown:hover .dropdown-conteudo {
  display: block;
}

.dropdown-conteudo label {
  display: block;
  font-size: 0.9rem;
  padding: 4px 0;
}

form {
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 30%;
}
.campo {
  display: flex;
  align-items: center;
  width: 100%;
}

.campo label {
  background-color: #b6f0dc;
  color: #004d25;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 6px 0 0 6px;
  white-space: nowrap;
  width: 30%;
  text-align: center;
}

.campo input,
.campo select {
  flex: 1;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 6px 6px 0;
  padding: 6px 8px;
}
.campo select {
  text-align: center;
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.btn-reset {
  background-color: #f8f402;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: #000000;
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
}
.btn-reset:hover {
  background-color: #8f8c02;
}

.btn-cadastrar {
  background-color: #b6f0dc;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: #004d25;
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
}
.btn-cadastrar:hover {
  background-color: #6dc2a5;
}

.container > div {
  width: 70%;
}
.container input {
  width: 50%;
}
h2 {
  text-align: center;
  text-transform: uppercase;
}
.tabela {
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr:hover {
  background-color: #f5f5f5;
}

table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #c7f0e3;
  font-weight: bold;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container form,
  .container > div {
    width: 100%;
  }
}
