main {
  padding: 20px;
}
.acoes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.voltar {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 10px 15px;
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}
form {
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 70%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
.column-left,
.column-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.campo {
  display: flex;
  align-items: center;
  width: 100%;
}

.campo label {
  background-color: #b6f0dc;
  color: #004d25;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 6px 0 0 6px;
  white-space: nowrap;
  width: 30%;
  text-align: center;
}

.campo input,
.campo select {
  flex: 1;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 6px 6px 0;
  padding: 6px 8px;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.btn-reset {
  background-color: #f8f402;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: #000000;
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
}
.btn-reset:hover {
  background-color: #8f8c02;
}

.btn-cadastrar {
  background-color: #b6f0dc;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: #004d25;
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
}
.btn-cadastrar:hover {
  background-color: #6dc2a5;
}
