main {
  padding: 20px;
}

.acoes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.voltar {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.adicionar {
  background-color: #b6f0dc;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #004d25;
  transition: 0.3s;
}

.adicionar:hover {
  background-color: #a2e0cb;
}

.outras {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.botoes-topo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 15px 20px;
}

.btn-verde {
  background-color: #8ad1b6;
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-verde:hover {
  background-color: #7ac4a8;
}

.btn-branco {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.filtro-pesquisa {
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: #f7f9fa;
  padding: 5px;
  border-radius: 8px;
}

.filtro-pesquisa input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 10px;
}

.dropdown {
  position: relative;
}

.filtro-btn {
  background-color: #c7f0e3;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-conteudo {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #daf6ff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.dropdown:hover .dropdown-conteudo {
  display: block;
}

.dropdown-conteudo label {
  display: block;
  font-size: 0.9rem;
  padding: 4px 0;
}
.tabela {
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #b6f0dc;
  color: #004d25;
  text-align: left;
  padding: 10px 20px;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  text-align: center;
}
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

tr:hover {
  background-color: #f5f5f5;
}

.dropdown-acoes {
  position: relative;
  display: inline-block;
}

.menu-acoes {
  width: 100%;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #f7fdff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
  text-align: center;
  width: 100%;
}

.menu-acoes a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  font-size: 0.95rem;
}

.menu-acoes a:hover {
  background-color: #e6f7f4;
}
.dropdown-acoes:hover .menu-acoes {
  display: block;
}
.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(1px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  gap: 20px;
  justify-content: center;
}

.btn-cancelar {
  background: #ccc;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

td .btn-atualizar,
td .btn-excluir {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  transition: 0.2s;
  text-align: center;
}

.btn-excluir {
  background-color: #ff0000;
  color: #ffffff;
}
.btn-excluir:hover {
  background-color: #8a0000;
}
.btn-atualizar {
  background-color: #059cdd;
  color: #ffffff;
}
.btn-atualizar:hover {
  background-color: #064f74;
}
.btn-vermelho {
  background-color: #ff7b7b;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.btn-vermelho:hover {
  background-color: #ff6262;
}
.btn-salvar {
  order: 1;
  background-color: #8ad1b6;
  color: #003d1d;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.modal-content-excluir {
  background: white;
  padding: 25px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease;
  text-align: center;
}
.modal-content-editar {
  background: #fff;
  width: 30%;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}
.modal-content-editar h2 {
  margin-bottom: 10px;
}
#form-editar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}
.form-group label {
  background-color: #76c9ab;
  width: 40%;
  padding: 5px;
  text-align: center;
}
.form-group input {
  width: 100%;
  text-align: center;
}
.form-group #setor,
.form-group #grupo {
  width: 100%;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* --- Editar Responsividade --- */
@media (max-width: 768px) {
  .acoes {
    flex-wrap: wrap;
  }

  .pesquisa input {
    width: 120px;
  }

  th,
  td {
    font-size: 0.85rem;
  }
}
