services:
  db:
    image: mysql:8.0
    container_name: database
    restart: always
    env_file:
      - ./.env
    ports:
      - 3306:3306
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
