body {
    font-family: Arial;
    background: #f5f5f5;
}

.form-container {
    margin: 30px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #ccc;
}


.linha {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.linha label {
    font-weight: bold;
    background: #8cd4b0;
    padding: 5px 10px;
    border-radius: 5px;
}

.linha input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.troca-nome {
    display: flex;
    align-items: center;
    gap: 5px;
}


.produtos {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.produtos thead {
    background-color: #C0E8F8;
    color: #333;
}

.produtos th {
    padding: 10px 8px;
    text-align: left;
    border: 1px solid #C0E8F8;
    border-bottom: 2px solid #A8D9E9;
}

.produtos tbody tr {
    background-color: #fff;
}

.produtos td {
    padding: 8px;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}

.produtos td input[type="text"],
.produtos td input[type="number"] {
    width: calc(100% - 10px);
    padding: 3px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    background: transparent;
}

.produtos td:nth-child(3),
.produtos td:nth-child(4),
.produtos td:nth-child(5),
.produtos td:nth-child(6) {
    text-align: center;
}
.produtos td:nth-child(3) input,
.produtos td:nth-child(4) input,
.produtos td:nth-child(5) input,
.produtos td:nth-child(6) input {
    text-align: center;
}

.produtos tbody tr:last-child td {
    border-bottom: none;
}


.btn-pagamento {
    background: #8cd4b0;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.bottom-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.cancelar {
    background: #ff6a6a;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
}

.salvar {
    background: #49c549;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
}


.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    border-radius: 20px;
    padding: 30px;
    width: 350px;
    text-align: center;
}

.popup-content label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    background: #8cd4b0;
    padding: 5px;
    border-radius: 5px;
}

.popup-content input,
.popup-content select {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


.btn-red {
    background: #ff6a6a;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn-green{
    background: #49c549;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
}


.top-actions {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

.btn-venda {
    background: #8cd4b0;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.btn-outras {
    background: white;
    border: 1px solid #888;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
}

.voltar {
background-color: #f7f7f7;
border-radius: 8px;
padding: 10px 15px; 
color: #000;
font-size: 1.2rem;
text-decoration: none;
font-weight: bold;
}


.filtro-pesquisa {
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
}

.filtro-pesquisa input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.dropdown {
  position: relative;
}

.filtro-btn {
  background-color: #c7f0e3;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-conteudo {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #c3ecff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-conteudo {
  display: block;
}

.dropdown-conteudo label {
  display: block;
  font-size: 0.9rem;
  padding: 4px 0;
}